@import url(../Rules/rules.css);
*{
    box-sizing: border-box;
}
body,h1,h2,h3,h4,figure,picture,p{
    margin: 0;
    
}
h1,h2,h3,h4,p{
    font-weight: 400;
}
body{
    color: var(--clr-dark);
    background-color:var(--clr-white);
    line-height: 1.5;
    min-height: 100vh;
    max-width: 75rem;
    margin-inline: auto;
    font-family: 'Roboto', sans-serif;
}

img,picture{
    max-width: 100%;
    display: block;
}
input,button,textarea,select{
    font: inherit;
}

.ff-title {
    font-family: "Pacifico", cursive;
}

.navbar{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 2rem 2rem .5rem;   
    flex-wrap: wrap;
    
}
.navbar-right{
    display: flex;
    list-style: none;
    gap: 1rem;
    padding-left: 0;
    margin: 0;
}
.links{
    color: var(--clr-dark);
    text-decoration: none;
    display: block;
}

.navbar-right li{
    padding: .5rem;
    border-radius: 5px;
}

.hero-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    gap: 3rem;
}
.content-container{
    flex-basis: 50%;
    padding-top: 2rem;
}
.content-container > h2{
    padding-bottom: 1rem;
}
.hero-image-container{
    flex-basis: 50%;
}
.hero-img{
    width: 100%;
    object-fit: cover;
}
.buttons{
    padding: 1rem 1.5rem;
    cursor: pointer;
    border-radius: 4px;
}
.btn-container{
    padding: 2rem 0;
    display: flex;
    gap: 2rem;
    align-items: center; 
}

.buttons > a{
    text-decoration: none;
}
.hero-btn-outline{
    border: 1px solid var(--clr-gray);
    background-color: var(--clr-white);
}
.hero-btn-outline:hover{
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.2);
    transition: box-shadow 300ms ease 0ms;
}
.content-container>p{
    padding: 1rem 0;
}

.component-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid var(--clr-gray);
    border-radius: 10px;
    gap: 1.5rem;
    padding: 2rem;
}

.component-container:hover , .navbar-right li:hover {
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.2);
    transition: box-shadow 300ms ease 0ms;
}

@media only screen and (max-width: 800px ){
     .hero-image-container{
         display: none;
     }
     .hero-section{
         flex-direction: column;
         text-align: center;
     }
     .btn-container{
         justify-content: center;
     
}
}
@media only screen and (max-width: 600px ){
     .navbar{
         padding-inline: 1rem;
     }

}
